body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

h1 {
  font-size: 4rem;
  margin-left: 2rem;
}

#left-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 5rem 0 5rem;
}

#right-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#recent-scores-title,
#add-score-title {
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  font-size: 2rem;
  height: 1.5rem;
}

button {
  display: flex;
  border: solid black;
  font-size: 1.5rem;
  padding: 0.5rem;
  justify-content: center;
}

#recent-scores {
  border: solid black;
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  height: 40vh;
}

input {
  border: solid black;
  height: 2rem;
}

#submit-button {
  width: 30%;
  align-self: flex-end;
}
