body {
  font-family: 'ArcadeClassic', sans-serif;
  color: green;
  background-color: black;
}

#container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  margin: 2rem 0 5rem 2rem;
}

#left-column {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 0 8rem 0 5rem;
}

#right-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#recent-scores-title,
#add-score-title {
  margin: 0 0 3rem 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-size: 2rem;
  height: 1.5rem;
  font-weight: 400;
}

h2 {
  margin-bottom: 1rem;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

/* Button style */
button {
  padding: 0.5rem;
  align-items: center;
  justify-content: center;
  background: none;
  font-family: 'ArcadeClassic', sans-serif;
  color: black;
  font-size: 1.5rem;
  outline: none;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
}

.retro {
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  width: auto;
  font-size: 1rem;
  line-height: 1.5;
  background: grey;
  font-weight: 400;
  border: 1px solid black !important;
  border-radius: 0;
  box-shadow: 3px 3px black, 5px 5px white;
  padding-right: 5%;
  margin-top: 20px;
}

.retro:hover {
  color: grey;
  background: darkgray;
}

.retro:active {
  background-color: darkslategray !important;
  color: black !important;
  box-shadow: 0 0 white;
  transform: translateX(5px) translateY(2px);
}

#recent-scores {
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0;

  /* padding: 0.1rem; */
  font-size: 2.5em;
  color: yellow;
}

form {
  display: flex;
  flex-direction: column;
  row-gap: 2vh;
  height: 40vh;
}

input {
  height: 3rem;
  background-color: black;
  border: none;
}

input::placeholder {
  font-family: 'ArcadeClassic', sans-serif;
  color: green;
  background-color: black;
  font-size: 2rem;
}

input[type="text"] {
  font-family: 'ArcadeClassic', sans-serif;
  font-size: 2rem;
  color: yellow;
}

textarea:focus,
input:focus {
  outline: none;
}

.submit-button {
  width: 6rem;
  align-self: flex-start;
  margin-left: 15rem;
}
